.event-item-section {
    padding: 3rem 0;
    .event-item-section-desc {
        font-size: 18px;
    }
    .topic-item {
       display: flex;
       & .topic-image-wrapper {
           height: 125px;
           width: 125px;
           & .topic-image-title {
               box-shadow: 3px 3px 5px #ccc;
               background-position: center;
               background-size: cover;
           }
       }
       & .topic-item-info {
           font-size: 18px;
           & .topic-links {
               color: #26a0de;
               text-decoration: none;
           }
       }
    }
    .event-item-photo {
        .event-item-photo-content {
            position: relative;
            cursor: pointer;
            .event-item-photo-show-more > a {
                background-color: rgba(250,216,73, 0.9);
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                color: #fff;
                font-size: 18px;
                font-family: sans-serif;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px #000;
                text-decoration: none;
            }
            &:hover {
                .event-item-photo-show-more > a {
                    opacity: 1;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .topic-item {
        border-left: 2px solid rgb(250,216,73);
    }
}