<section class='item-photos-section' *ngIf="eventItem; else loading">
    <div class="container-fluid">
        <div class="item-photos-title text-center mb-3">
            <h2>
              Фото из {{eventItem.title}}
            </h2>
          </div>
        <div class="row">
            <div class="item-photos col-12 col-sm-6 col-md-4 mb-4" *ngFor="let photo of eventItem.photos">
              <div class="w-100 h-100 item-photos-content">
                <img [src]='photo' [alt]='eventItem.title' class='img-fluid'>
                <div class="item-photos-show-more">
                  <a class='h-100 w-100 d-flex align-items-center justify-content-center'>Увеличить</a>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>
  <ng-template #loading>
    <app-preloader></app-preloader>
  </ng-template>