.modal-view-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.9);
    cursor: pointer;
    & .photo-wrapper {
        max-width: 90%;
        cursor: default;
        position: relative;
    }
    & .close-modal-view {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 3rem;
        display: flex;
            color: #fff;
            opacity: 0.5;
            transition: all .15s ease-in-out;
            &:hover {
                opacity: 1;
            }
    }
}