.modal-view-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.9);
    cursor: pointer;
    & .photo-wrapper {
        max-width: 90%;
        cursor: default;
    }
    & .close-modal-view {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #fff;
        font-size: 42px;
    }
}